@model System.Collections.Generic.List<SharedLibrary.Models.business.Course>



<head>
    <link rel="stylesheet" href="~/css/AdminActiveUser.css?v9">
    <script src="~/js/CoursesDeleteAdd.js?v1" ></script>
</head>
<title>@ViewBag.Title</title>

<div class="popup-container" id="success-popup" style="display:none;" >
    <div class="popup-content">
        <div class="checkmark">✔</div>
        <p id="success-popup-text">Courses Updated</p>
    </div>
</div>

<div class="popup-container" id="failure-popup" style="display:none;">
    <div class="popup-content">
        <div class="crossmark">❌</div>
        <p id="failure-popup-text">Failed to Update courses</p>
    </div>
</div>

<div class="main-content">
    
    @using (Html.BeginForm("Courses", "Admin", FormMethod.Get))
    {
        <div id="filter-options">
            <label for="search">Search:</label>
            @if (ViewData["search"] is not null)
            {
                <input type="text" id="search" name="search" value= "@ViewData["search"]!.ToString()">
            }
            else
            {
                <input type="text" id="search" name="search" placeholder= "Search By Course Name">

            }
            <br><br>
            <input type="checkbox" id="withCourses" name="isCompulsory" value="true" @(ViewData["isCompulsory"] != null && (bool)ViewData["isCompulsory"] ? "checked" : "")>
            <label for="withCourses">Only Compulsory Courses</label>
            <br>
            <input type="checkbox" id="getAll" name="getAll" value="true" @(ViewData["getAll"] != null && (bool)ViewData["getAll"] ? "checked" : "")>
            <label for="getAll">Include Deleted Courses</label>
            <br><br>
            <button type="submit">Apply Filters</button>
            <br/>
        </div>


    }

    <button type="button" class="add-button" title="Add New Course" onclick="window.location.href='@Url.Action("AddNewCourse")'">
        <img src="/Images/circularplusbutton_121982.png" alt="Update">
    </button>
    <hr/>


    @foreach (var course in Model)
    {
        
        <div class="user-info" id="@course.Id">
            <p>Course Name: @(string.IsNullOrEmpty(course.Id) ? "Not Found" : course.Id)</p>
            <p>Course Year:  @(!string.IsNullOrEmpty(course.Year) ? course.Year : "Not Found")</p>

            @if (course.IsCompulsory)
            {
                <label>
                    <input type="checkbox" checked disabled/>
                    Is Compulsory
                </label>
                <br/>
            }
            else
            {
                <label>
                    <input type="checkbox"  disabled/>
                    Is Compulsory
                </label>
                <br/>
                <br/>

            }
            
            @if (course.IsDeleted)
            {
                <label>
                    <input type="checkbox" checked disabled/>
                    Deleted
                </label>
                <br/>
                <br/>
            }
          @if (course.Users is not null && course.Users.Count >0)
            {            
                <select id="user-courses">
                    <option  value="">Course Active Users</option>
                    @foreach (var user in course.Users)
                    {
                        <option disabled>@user.EMail</option>

                    }
                </select>
                
            }
        @if (!course.IsDeleted)
        {
            <br/>
            <button type="button" class="delete-button" style="margin-right: 15px" title="Delete This Course" onclick="showConfirmationPopUp('@course.Id')">
                <img src="/Images/red-trash-can-icon.png" alt="Update">
            </button>
            
        }
        </div>
        <hr/>
    }
</div>

@{
    var currentPage = int.TryParse(ViewData["page"]?.ToString(), out var result) ? result : 0;
    var hasNextPage = Model?.Count > 0; 
}
    

@if (hasNextPage)
{
    <div id ="next-button">
        <a href="@Url.Action("Courses", "Admin", new { search = ViewData["search"], isCompulsory = ViewData["isCompulsory"], getAll = ViewData["getAll"], page = currentPage + 1 })">
            <img src="/Images/arrow_right.svg" alt="Next Page">
        </a>
    </div>
}
@if (!hasNextPage)
{
  <div id="prev-button" s>
        <a href="@Url.Action("Courses", "Admin", new { search = ViewData["search"], isCompulsory = ViewData["isCompulsory"], getAll = ViewData["getAll"], page = currentPage - 1 })">
            <img src="/Images/arrow_left.svg" alt="Next Page">
        </a>
    </div>
}
