@using System.Security.Claims
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]-POLO Analytics</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/js/site.js" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/PoLoAnalysisMVC.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="\Images\favicon.ico">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/ClientSideRefreshToken.js?v2" defer></script>

    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <span onclick="openNav()">
            <img src="/Images/sidebar-icon.svg" alt="Sidebar Icon" class="sidebar-icon">
        </span>
        <img src="/Images/POLOWhite.svg" alt="Logo" class="logo">
    </header>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&equiv; </a>
        @{
            var name = ((ClaimsIdentity)User.Identity).FindFirst(ClaimTypes.Name)?.Value ?? "Something Went Wrong";
            
        }
        <p><br>Hello,@name<br/></p>
        <a href="@Url.Action("Import","Home")">Import Excel File</a>
        <a href="#">Reports In Progress</a>
        <a href="@Url.Action("Index","Home")">Export Result File</a>
        <a href="#">Past Reports</a>
        <a href="#">Download Template</a>
        <a href="#">Settings</a>
        @{
            var isAdmin = ((ClaimsIdentity)User.Identity).FindAll(ClaimTypes.Role).Any(r => r.Value == "Admin");
            if (isAdmin)
            {
                <a href="@Url.Action("Users","Admin")">Manage Users</a>
                <a href="@Url.Action("Courses","Admin")">Manage Courses</a>

            }

        }
        <div class="side-bottom">
            <a href="#">Report Bug</a>
            <a href="#">About</a>
            <a href="#">Documentation</a>

            <img src="~/Images/POLOGray.svg" alt="Logo" class="logo-side-bottom">
            <p class="version">v0.0.1(Beta)</p>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
            $(document).ready(function () {
            checkAccessTokenAndRefresh();
        });
    </script>
</body>
</html>